@charset "UTF-8";


/*CSS para telas de tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        background-image: linear-gradient(to bottom, #2bb673 -30%, #2d1664 100%);
    }

    main {
        display: flex;
        width: 80vw;
        height: 300px;
    }

    #img {
        width: 40%;
        height: 100%;
    }

    section {
        width: 60%;
        padding: 10px;
    }
}


/*CSS para telas desktops*/
@media screen and (min-width:1024px) {
    body{
        background-image: linear-gradient(to bottom, #2bb673 -30%, #2d1664 100%);
    }

    main{
        display: flex;
        width: 85%;
        max-width: 1000px;
        height: 60%;
        flex-direction: row-reverse;
    }

    section{
        width: 50%;
        padding: 10px;
    }

    #img{
        width: 50%;
        height: 100%;
        margin-left: auto;
    }
}